<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cashier</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <section class="header">
        <button class="backToMenu" onclick="location.href='/menu'">
            Back to Menu
        </button>
        <section class="weatherAndLogin">
            <p id="userLoggedIn"></p>
            <p>Temperature: <%= ((weather.main.temp -273.15) * 9/5 + 32).toFixed(2) %> °F</p>
        </section>
    </section>
    <div class="scrollyZone">

        <div class = "customize-container">
            <section class="menu-categories">
                <% for (var i in base_items) {%>
                    <button class="menu-category-button" 
                    onclick="goToCustomNew('/menu/<%=item_category%>/<%=base_items[i].base_item%>', '/menu/<%=item_category%>')"
                    onmouseenter='showImages("/images/<%=base_items[i].base_item%>.jpg")'>
                        <%=base_items[i].base_item%>
                    </button>
                <% } %>
            </section>

            <div class="customize-image-wrapper">
                <img class="customize-image" src="/images/<%=base_items[0].base_item%>.jpg" alt="Category Preview">
            </div>

        </div>
    
    </div>
    <section class="footnote">
        <section class="companyLabel">
            <p>© 2025 Penguin Coffee Company</p>
            <p>Contact: penguinCoffee@aol.com | 123.456.7890</p>
        </section>
        <div id="google_translate_element"></div>
        <div class="button-group">
            <button class="seeOrder" onclick="goToOrder('/menu/<%= item_category %>')">Current Order</button>
            <button class="colorChangeButton" onclick="toggleTheme()">Change Theme</button>
        </div>
    </section>

    <script src="/functions.js"></script>
    <script async defer src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script>
        function showImages(src) {
            const wrapper = document.querySelector('.customize-image-wrapper');
            const image = document.querySelector('.customize-image');
            image.src = src;
            wrapper.style.display = 'flex';
        }

        logedUserID();

        document.addEventListener("DOMContentLoaded", () => {
            storeLanguagePreference();
            applyStoredLanguage();
        });

        window.onload = function() {
            const savedTheme = localStorage.getItem('theme');
            const savedZoom = localStorage.getItem('zoom');

            if (savedTheme === 'bold') {
            document.body.classList.add('boldRoot');
            }

            if (savedZoom) {
            document.body.style.zoom = savedZoom;
            }
        };
    </script>
</body>