<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div class = "ManagerHeader">
        <button class="backToManagerHome" onclick="location.href='/manager'">Manager Home</button>
        <button class = "backtoManagerReports" onclick="location.href='manager_reports'">Reports</button>
        <button class = "backtoManagerEmployees" onclick="location.href='manager_employees'">Employees</button>
        <button class = "backtoManagerItems" onclick="location.href='managerItems'">Items</button>
        <button class = "backtoManagerInventory" onclick="location.href='manager_inventory'">Inventory</button>
        <button class="backToMenu" onclick="location.href='/menu'">backToMenu</button>
    </div>
    <div class = "Inventory">
        <h1>Inventory</h1>
        <button>Add Inventory</button>
        <button>Delete Inventory</button>
        <table>
            <tr>
                <th>Name</th>
                <th>Current Quantity</th>
                <th>Fill-To Quantity</th>
                <th>Target Quantity</th>
                <th>Units</th>
                <th>Category</th>
            </tr>
            <% for (var i in supply) {%>
                <tr>
                    <td><%=supply[i].name%></td>
                    <td><%=supply[i].currquant%></td>
                    <td><%=supply[i].filltoquant%></td>
                    <td><%=supply[i].targquant%></td>
                    <td><%=supply[i].units%></td>
                    <td><%=supply[i].category%></td>
                </tr>
                <% } %>
        </table>

    </div>
    
</body>